<button type="button" class="btn btn-primary" (click)="addRow()" >Add Row</button>
<table class="table table-striped table-bordered">

  <thead>
    <tr>
      <th scope="col">SNo.</th>
      <th scope="col">Item Name</th>
      <th scope="col">Qnt.</th>
      <th scope="col">Rate</th>
      <th scope="col">Value</th>
      <th scope="col">Dis.(%)</th>
      <th scope="col">Discounted Price</th>
      <th scope="col">Tax</th>
      <th scope="col">Tax Value</th>
      <th scope="col">Final Price</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dynamic of dynamicArray; let i = index">
      <td>{{i+1}}</td>
      <td><input [(ngModel)]="dynamicArray[i].Name" [name]="dynamicArray.name" class="form-control" type="text" size="5" ></td>
      <td><input [(ngModel)]="dynamicArray[i].Qnt" [name]="dynamic.Qnt" class="form-control" type="text" size="5" ></td>
      <td><input [(ngModel)]="dynamicArray[i].Rate" [name]="dynamic.Rate" class="form-control" type="text" size="5" ></td>
      <td>{{dynamic.Qnt*dynamic.Rate}}</td>
      <td><input [(ngModel)]="dynamicArray[i].Discount" [name]="dynamic.Discount" class="form-control" type="text" size="5" ></td>
      <td>{{dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01))}}</td>
      <td><input [(ngModel)]="dynamicArray[i].Tax" [name]="dynamic.Tax" class="form-control" type="text" size="5" ></td>
      <td>{{(dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01)))*(dynamic.Tax * 0.01)}}</td>
      <td>{{(dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01)))
        + ((dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01)))*(dynamic.Tax * 0.01))}}</td>
      <td><button class="btn btn-danger" (click)="onDelete(i)">Delete</button></td>
    </tr>
  </tbody>
</table>
