<form #myForm="ngForm" (ngSubmit)="submit(myForm.valid)" novalidate >
  <button type="button" class="btn btn-primary" (click)="addRow()">Add Row</button>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">SNo.</th>
        <th scope="col">Item Name</th>
        <th scope="col">Qnt.</th>
        <th scope="col">Rate</th>
        <th scope="col">Value</th>
        <th scope="col">Disount</th>
        <th scope="col">Discounted Price</th>
        <th scope="col">Tax</th>
        <th scope="col">Tax Value</th>
        <th scope="col">Final Price</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dynamic of dynamicArray; let i = index">
        <td>{{i+1}}</td>
        <td class="form-group"><input [(ngModel)]="dynamicArray[i].Name" required name="dynamic.Name{{i}}" class="form-control" type="text" size="5" ></td>
        <td class="form-group"><input [(ngModel)]="dynamicArray[i].Qnt"  required (keyup)="calcall()" (change)="calcall()" name="dynamic.Qnt{{i}}" class="form-control" type="number" min="0" size="5"></td>
        <td class="form-group"><input [(ngModel)]="dynamicArray[i].Rate" required (keyup)="calcall()" (change)="calcall()" name="dynamic.Rate{{i}}" class="form-control" type="number" min="0" size="5"></td>
        <td>{{dynamic.Value}}</td>
        <td>
          <div class="input-group mb-3">
            <select class="form-control-mb-12" (change)="calcall()" [(ngModel)]='dynamicArray[i].Discountmode' name="dynamic.Discountmode{{i}}">
              <option class="dropdown-item" value="flat">Flat</option>
              <option class="dropdown-item" value="perc">Percent</option>
            </select>
            <input aria-label="Text input with dropdown button" required (keyup)="calcall()" [(ngModel)]="dynamicArray[i].Discount" name="dynamic.Discount{{i}}" class="form-control" type="number" min="0" size="5">
          </div>
        </td>
        <td>{{dynamic.Discounted_Price}}</td>
        <td>
          <div class="input-group mb-3">
              <select required (change)="calcall()" [(ngModel)]="dynamicArray[i].Tax" name="dynamic.Tax{{i}}">
              <option class="dropdown-item"  href="#" >2.5</option>
              <option class="dropdown-item"  href="#">5</option>
              <option class="dropdown-item"  href="#">8</option>
              <option class="dropdown-item"  href="#">10</option>
              <option class="dropdown-item"  href="#">18</option>
              </select>
            </div>
        </td>
        <td>{{dynamic.Tax_value}}</td>
        <td>{{dynamic.Total}}</td>
        <td><button class="btn btn-danger" *ngIf="i!==0" (click)="onDelete(i)">Delete</button></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td >{{subtotal()}}</td>
        <td></td>
        <td>{{discTotal()}}</td>
        <td></td>
        <td>{{taxTotal()}}</td>
        <td>{{finalP()}}</td>
        <td></td>
      </tr>
    </tbody>
    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
  </table>
</form>
