<button type="button" class="btn btn-primary" (click)="addRow()" >Add Row</button>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">SNo.</th>
      <th scope="col">Item Name</th>
      <th scope="col">Qnt.</th>
      <th scope="col">Rate</th>
      <th scope="col">Value</th>
      <th scope="col">Dis.(%)</th>
      <th scope="col">Discounted Price</th>
      <th scope="col">Tax</th>
      <th scope="col">Tax Value</th>
      <th scope="col">Final Price</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dynamic of dynamicArray; let i = index">
      <td>{{i+1}}</td>
      <td><input [(ngModel)]="dynamicArray[i].Name" [name]="dynamic.Name" class="form-control" type="text" size="5" ></td>
      <td><input [(ngModel)]="dynamicArray[i].Qnt" [name]="dynamic.Qnt" class="form-control" type="number" size="5" ></td>
      <td><input [(ngModel)]="dynamicArray[i].Rate" [name]="dynamic.Rate" class="form-control" type="number" size="5" ></td>
      <td>{{dynamic.Qnt*dynamic.Rate}}</td>
      <!-- <td><input [(ngModel)]="dynamicArray[i].Discount" [name]="dynamic.Discount" class="form-control" type="number" size="5" ></td> -->
      <td>
        <div class="input-group mb-3">
          <select id="selectid" class="form-control-mb-12" (change)="dis($event.target.value)">
            <option class="dropdown-item" value="flat">Flat</option>
            <option class="dropdown-item" value="perc">Percent</option>
          </select>
          <input aria-label="Text input with dropdown button" [(ngModel)]="dynamicArray[i].Discount" [name]="dynamic.Discount" class="form-control" type="number" size="5">
        </div>
      </td>
      <td *ngIf="flag" >{{dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01))}}</td>
      <td *ngIf="!flag">{{dynamic.Qnt*dynamic.Rate - dynamic.Discount}}</td>

      <!-- <td><input [(ngModel)]="dynamicArray[i].Tax" [name]="dynamic.Tax" class="form-control" type="number" size="5" ></td> -->
      <td>
        <div class="input-group mb-3">
            <select [(ngModel)] = "dynamicArray[i].Tax">
            <option class="dropdown-item"  href="#" (click)="tax(2.5)">2.5</option>
            <option class="dropdown-item"  href="#" (click)="tax(5)">5</option>
            <option class="dropdown-item"  href="#" (click)="tax(8)">8</option>
            <option class="dropdown-item"  href="#" (click)="tax(10)">10</option>
            <option class="dropdown-item"  href="#" (click)="tax(18)">18</option>
            </select>
          </div>
      </td>
      <td *ngIf="flag">{{(dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01)))*(dynamic.Tax * 0.01)}}</td>
      <td *ngIf="!flag">{{(dynamic.Qnt*dynamic.Rate - dynamic.Discount)*(dynamic.Tax * 0.01)}}</td>
      <td>{{(dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01)))
        + ((dynamic.Qnt*dynamic.Rate - (dynamic.Qnt*dynamic.Rate * (dynamic.Discount*0.01)))*(dynamic.Tax * 0.01))}}</td>
      <td><button class="btn btn-danger" id="remove" *ngIf="i!==0" (click)="onDelete(i) ">Delete</button></td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{subtotal()}}</td>
      <td></td>
      <td *ngIf="flag">{{discTotalFlat()}}</td>
      <td *ngIf="!flag">{{discTotalPerc()}}</td>
      <td></td>
      <td>{{taxTotal()}}</td>
      <td>{{finalP()}}</td>
      <td></td>
    </tr>
  </tbody>
  <button type="button" class="btn btn-info" *ngIf="disableBtn" >Submit</button>
</table>

